{% extends 'shop/index.html' %}
{% block body %}
<body>
<div align="center" style="color: #ffae3f; font-family: Algerian; font-size: 50px">
       <p>All Orders</p>
</div>

<table class=" table table-bordered">
    <tr style="color: white; background-color: black">
        <th>SL NO</th>
        <th>DATE</th>
        <th>ADDRESS</th>
        <th>AMOUNT</th>
        <th>ORDER STATUS</th>
        <th></th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.useradrs.name }}<br>
            {{ i.useradrs.phone }}<br>
            {{ i.useradrs.house }},{{ i.useradrs.place }},
            {{ i.useradrs.roadname }},{{ i.useradrs.pincode }},{{ i.useradrs.landmark }}
            <br>Address Type : {{ i.useradrs.adrstype }}</td>
        <td>{{ i.amount }}</td>
        {% if i.Status == 'Order Placed' %}
        <td><a href="/myapp/update_status/{{ i.id }}" class="btn btn-success">{{ i.Status }}</a></td>
            {% else %}
            <td align="center" style="color: red"><strong>{{ i.Status }}</strong></td>
        {% endif %}
        <td><a href="/myapp/viewmore/{{ i.id }}" class="btn btn-warning">View More</a> </td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}