{% extends 'user/index.html' %}
{% block body %}
       <div align="center" style="color: #ffae3f; font-family: Algerian; font-size: 30px">
       <p>My Cart</p>
</div>
<body>


            {% for i in data %}

<div class="col-md-4 top_brand_left" style="margin-top: 20px">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">
															<a href="#"><img src="{{ i.PRODCUT.photo }}" alt=" " class="img-responsive" /></a>
															<p>{{ i.PRODCUT.productname }}</p>
{#                                                            <p>{{ i.PRODCUT.description }}</p>#}
															<h4><i class="fa fa-inr" aria-hidden="true"></i>{{ i.PRODCUT.price }}</h4>
                                                            <p>QTY : {{ i.quantity }}</p>

														</div>
														<div class="snipcart-details top_brand_home_details">
                            <small class="flex-fill text-center py-2"><a href="/myapp/deletcart/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you Sure ?')"><i class="fa fa-trash" aria-hidden="true"></i></a></small>


														</div>
													</div>
												</figure>
											</div>
                                        </div>
                                    </div>
</div>

            {% endfor %}
    <div class="row g-4 justify-content-center">

    </div>
    <br>

            <div><h3><br>Sub Total : <i class="fa fa-inr" aria-hidden="true"></i>  {{ tot }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="{% url 'payment_page' %}" class="btn btn-info">Buy Now</a></h3>

            </div>

</table>
</body>



{% endblock %}